@model TP_PWEB.Models.Reserva

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apagar</h2>

<h3>Tem a certeza que quer apagar?</h3>
<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstacaoReservada.NomeEstacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstacaoReservada.NomeEstacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostoReservado.PostoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostoReservado.PostoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilizador.PerfilID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilizador.PerfilID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataReserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataReserva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservaConfirmada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservaConfirmada)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
