@model TP_PWEB.Models.Estacao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
   // Html.RenderPartial("~/Views/Shared/_NavBar");
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALEF4KWP1d5vJzJnkNYTpuMbxfRI6QvBA&callback=initMap"
        type="text/javascript"></script>

<style type="text/css">

    #map_canvas {
        height: 400px;
    }
</style>
<section>
    @Html.Partial("~/Views/Shared/_NavBar.cshtml");
</section>

<section class="page-section">
    <div class="container">

        <h2>Detalhes</h2>

        <div>
            <h4>Estação</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NomeEstacao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NomeEstacao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustoPMinuto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustoPMinuto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Longitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Longitude)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Latitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Latitude)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NPostos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NPostos)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EmpresaNome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmpresaNome)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.EstacaoID,type = "button", @class = "btn btn-warning mr-2 mt-2" }) |
            @Html.ActionLink("Voltar", "Index",new { type = "button", @class = "btn btn-warning mr-2 mt-2"})
        </p>
        <script>
    var estacao = @Html.Raw(Json.Encode(Model));
	//console.log(cities);



    $(document).ready(function() {
        // execute
        (function () {
            var lat = estacao.Latitude;
            var lng = estacao.Longitude;
            // map options
            var options = {
                zoom:16,
                center: new google.maps.LatLng(lat , lng),
                mapTypeId: google.maps.MapTypeId.TERRAIN,
                mapTypeControl: false
            };


            // init map
            var map = new google.maps.Map(document.getElementById('map_canvas'), options);

                // init markers
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(lat, lng),
                    map: map,
                    title: estacao.NomeEstacao
                });

                // process multiple info windows
                (function(marker, i) {
                    // add click event
                    google.maps.event.addListener(marker, 'click', function() {
                        infowindow = new google.maps.InfoWindow({
                            content: estacao.NomeEstacao
                        });
                        infowindow.open(map, marker);
                    });
                })(marker, i);

        })();
    });

        </script>

        <div id="map_canvas"></div>
    </div>
</section>
