@model IEnumerable<TP_PWEB.Models.Estacao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section class="page-section">
        <div class="container">
            <h2>Lista de Estações</h2>
            <p>
                @Html.ActionLink("Criar Estação", "Create")
            </p>
            <table class="table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th class="col-sm-6">
                            @Html.DisplayNameFor(model => model.NomeEstacao)
                        </th>
                        <th class="col-sm-4">
                            @Html.DisplayNameFor(model => model.CustoPMinuto)
                        </th>
                        <th class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Longitude)
                        </th>
                        <th class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Latitude)
                        </th>
                        <th class="col-sm-4">
                            @Html.DisplayNameFor(model => model.NPostos)
                        </th>
                        <th class="col-auto">
                            @Html.DisplayNameFor(model => model.EmpresaNome)
                        </th>
                       
                    </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeEstacao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustoPMinuto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Longitude)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Latitude)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NPostos)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmpresaNome)
                            </td>
                            <td class="col-auto">
                                @Html.ActionLink("Editar", "Edit", new { id = item.EstacaoID , type = "button", @class = "btn btn-warning mr-2 mt-2"}) |
                                @Html.ActionLink("Reservar", "Create", "Reservas", routeValues: null, htmlAttributes: new { id = item.EstacaoID , type = "button", @class = "btn btn-warning mr-2 mt-2"})|
                                @Html.ActionLink("Detalhes", "Details", new { id = item.EstacaoID  , type = "button", @class = "btn btn-warning mr-2 mt-2"}) |
                                @Html.ActionLink("Apagar", "Delete", new { id = item.EstacaoID , type = "button", @class = "btn btn-warning mr-2 mt-2"})
                            </td>
                        </tr>
                    }

            </table>
            </div>
        </section>
